<a href="https://colab.research.google.com/github/Felipe806/CP1-IA-1oSem/blob/main/CP_IA_FelipeCarvalho2TDSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nome: Felipe Sequeira de Carvalho
RM: 95581
Turma: 2TDSA
Ano: 2023

## Aprendizagem de máquina

### Objetivos

  - Avaliar os conceitos de aprendizado de maquina aprendidos no curso

# Desafio

Você foi contratado por uma empresa inovadora do ramo imobiliario como `QuintoAndar, Loft, Terraz, grupo Zap (ZAP, Viva Real, DataZAP, FipeZAP, SuaHouse, Geoimóvel, Sub100 e Conecta Imobi) ou Imobi Conference`. O seu desafio está no apio à tomada de decisão baseada em dados (empresa data driven). 

Nesse sentido, use a base de dados **aptos.csv** para realizar a descoberta do conhecimento e responder a pergunta: 

**`Quanto vale um apartamento de 72m2 com 2 quartos, 2 vagas, reformado no Centro?`**

### Orientações

Siga as instruções, completando e construindo os algoritmos necessários.

Nas celulas` Seu Código aqui...` significa que é necessário realizar a implementação de algum código. Utilize quantos blocos(células) julgar necessário para criar o código.

Nas celulas `Responda` significa que é nessário uma resposta clara e objetiva (pode ser por texto, código, gráfico, imagem...) para a pergunta.

## Rubrica para avaliação
    
Os critérios de avaliação do projeto segue conforme a rubrica.

- R1: Exploração de Dados (Até 2 pontos)
- R2: Análise Descritiva de Dados (Até 2 pontos)
- R3: Desenvolvimento do Modelo (Até 2 pontos)
- R4: Treinamento e Teste do Modelo (Até 2 pontos)
- R5: Conclusões Finais (Até 2 pontos)

**Nota_final = R1 + R2 + R3 + R4 + R5**

# 1. Exploração de Dados

Carregue o dataset e faça uma inspeção nas 15 primeiras linhas para identificação básica dos atributos.

In [68]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


%matplotlib inline

In [69]:
#Seu Código aqui....
df = pd.read_csv('aptos.csv', sep=';') # Carregando o arquivo csv usando o ; como separador 1
df.head(15) # Inspeção das 15 primeiras linhas

   metros,valor,quartos,vagas,reformado,bairro
0                 107,560,3,2,0,Vila Lusitania
1                 107,555,3,2,1,Vila Lusitania
2                    49,196,2,1,0,Ferrazopolis
3                         104,515,3,2,1,Centro
4                  92,560,3,2,1,Vila Lusitania
5                          51,249,2,1,0,Taboao
6                         140,635,4,3,1,Centro
7                        50,210,2,1,1,Demarchi
8                     93,450,3,2,0,Baeta Neves
9                    107,425,3,2,1,Rudge Ramos
10                   100,422,3,2,1,Baeta Neves
11                      64,250,2,1,1,Pauliceia
12                         65,350,2,2,1,Centro
13                         71,303,3,1,0,Centro
14                       64,294,3,1,0,Planalto

### `Pergunta:` Apresente uma breve descrição do significado de cada atributo:

Exemplo:
- Idade: Idade em anos da pessoa
- Marca: fabricante de carros
- Combustivel: tipo de combustível (gasolina, disel...)
- Especie: Tipo de flor iris-setosa, virginica... (Variável Alvo)

**Resposta:**

-   Tamanho: Tamanho em m2 do apartamento 
-   Local: O lugar onde o apartamento se encontra(bairro, cidade, etc)
-   Preço: O valor do apartamento
-   Descrição: Se possui vaga, é reformado, quantidade de cômodos, etc

**Pergunta:** Cite 2 cenários que podem fazer sentido na leitura dos dados apresentados.

Exemplo: 
- Eu acho que o preço da gasolina sobe com o preço do petróleo. 
- Eu acho que na média homens são mais altos que mulheres na mesma faixa etaria.

**Resposta:**

1.  O preço do apto sobe conforme o seu tamanho.
2.  O local afeta o preço do apartamento.
3.  Caso o apto seja reformado, tenha vagas, quantidade de cômodos, o preço também aumentará.

## 2. Análise descritiva de dados

Faça uma análise exploratória dos dados. Utilize-se de gráficos e tabelas auxiliares, faça correlações entre os atributos.... Com o objetivo validar as afirmações levantadas acima.

In [70]:
df.describe()

       metros,valor,quartos,vagas,reformado,bairro
count                                          114
unique                                         110
top                          56,247,2,1,0,Planalto
freq                                             2

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 1 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   metros,valor,quartos,vagas,reformado,bairro  114 non-null    object
dtypes: object(1)
memory usage: 1.0+ KB

### __(BONUS: 1 ponto extra.)__ Análise de Outliers
*Esse é um ponto extra, faça se quiser...

Realize a análise e o tratamento de **outliers**, como referência para estudo:

* [link1](https://machinelearningmastery.com/model-based-outlier-detection-and-removal-in-python/)
* [link2](https://towardsdatascience.com/4-machine-learning-techniques-for-outlier-detection-in-python-21e9cfacb81d)
* [link3](https://minerandodados.com.br/tratando-outliers-python/)

**Pergunta:** Foram localizados outliers? Qual o método de análise adotado? Se existe, como os dados foram tratados (foram removidos ou mantidos)?

## 3. Desenvolvimento do Modelo

**Pergunta:** O conjunto de dados indica a aplicação de qual modelo de aprendizagem de maquina para determinação do valor de um imóvel? Por que ?

**Resposta:**

    [ ] Aprendizado por reforço
    [x] Aprendizado supervisionado
    [ ] Aprendizado não supervisionado

**Pergunta:** Qual a técnica sugerida para este projeto?

**Resposta:**

    [x] Regressão
    [ ] Classificação
    [ ] Clusterização

**Pergunta:** Escolha 2 modelos de algoritmos para testar a performance de cada um deles.

**Resposta:**

1. MAE
2. MSE

__(BONUS: 1 ponto extra.)__ **Pergunta:** Explique como cada algoritmo funciona.

**Resposta:**

1. algoritimo ...___________ 
2. algoritimo ...___________

## 4. Treinamento e teste do modelo

Crie um subset dos dados apenas com os atributos que serão utilizados para o treinameno e teste do modelo. Divida o subset em conjunto de treinamento e teste.

In [ ]:
from sklearn.model_selection import train_test_split

# Selecionando atributos que serão usados no treinamento e teste do modelo
df_subset = df[['metros', 'valor', 'bairro']]

# Dividindo o subset em conjunto de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(df_subset.drop('metros', axis=1), 
                                                    df_subset['metros'], 
                                                    test_size=0.2, 
                                                    random_state=42)

In [86]:
#Seu Código aqui...
from sklearn.preprocessing import StandardScaler

lr = LinearRegression()
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

ValueError: ignored

Faça o treinamento e teste dos 2 algoritmos escolhidos. Utilize uma métrica (ex. R2-score, RMSE e MAE...) para avaliar a performance dos modelos.

### Algoritmo 1

In [ ]:
#Seu Código aqui...

### Algoritmo 2

In [ ]:
#Seu Código aqui...

Sumarize na tabela abaixo os resultados obtidos para os conjuntos de dados de treino e de teste

**Resposta:**

|    | algoritmo1 | algoritmo2 |
|:---:|:---:|:---:|
| treino | X | X |
| teste  | X | X |

**Pergunta:** Qual dos algoritmos obteve um resultado melhor? Justifique

**Resposta:**

## Modelo de produção: Teste com novos dados

Use seu modelo treinado para determinar: 

**`Quanto vale um apartamento de 72m2 com 2 quartos, 2 vagas, reformado no Centro?`**

In [ ]:
#Seu Código aqui...

## 6. Conclusões finais

Ufa!!... Chegamos ao final. Parabéns! De forma simplificada e completa, passamos por todas as etapas de um projeto de aprendizado de maquina. Outras etapas podem ser adicionadas no tratamento dos dados e desenvolvimento do modelo.

**Pergunta:**: O modelo desenvolvido obteve um resultado satisfatório? Justifique:

**Resposta**:

**Pergunta:**: O que faria diferente para melhorar resultado obtido? Justifique:

**Resposta**: Utilizaria outra técnica para análise dos dados como a técnica de classificação.